BUNDLE_GEMFILE=Gemfile
CI=
FLAY_MASS=100
FLOG_SCORE=75
JOB_CONCURRENCY=1
EMBEDDING_MODEL_PRELOAD=true
INFORMERS_CACHE_DIR=storage/informers
INGREDIENTS_CANDIDATE_COUNT=250
INGREDIENTS_FILTER_STRATEGY=naive_vector_search
INGREDIENTS_MAX_COSINE_DISTANCE=0.7
INGREDIENT_PARSER_TIMEOUT_SECONDS=120
MAINTENANCE_TASKS_PASSWORD=pennylunch
MAINTENANCE_TASKS_USERNAME=pennylunch
NLTK_DATA=.venv/nltk_data
PENNYLUNCH_BASE_URL=http://127.0.0.1:3000
PENNY_LUNCH_DATABASE_HOST=127.0.0.1
PENNY_LUNCH_DATABASE_MAX_CONNECTIONS=5
PENNY_LUNCH_DATABASE_PASSWORD=
PENNY_LUNCH_DATABASE_PORT=5432
PENNY_LUNCH_DATABASE_USERNAME=penny_lunch
PENNY_LUNCH_DEVELOPMENT_DATABASE_PORT=5432
PENNY_LUNCH_HTTP_PORT=3000
PIDFILE=
PLAYWRIGHT_CHROME_EXECUTABLE=
PORT=3000
RAILS_ENV=development
RAILS_LOG_LEVEL=info
RAILS_MASTER_KEY=
RAILS_MAX_THREADS=3
RUBY_DEBUG_LAZY=true
RUBY_DEBUG_OPEN=true
SECRET_KEY_BASE=
SOLID_QUEUE_IN_PUMA=
